
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h2>Buras ıd safaf </h2>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Adres</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Enes</td>
        <td>Deneme</td>
        <td>Deneme</td>


    </tr>
    <tr>
        <td>1</td>
        <td>Enes</td>
        <td>Deneme</td>
        <td>Deneme</td>


    </tr>
    <tr>
        <td>1</td>
        <td>Enes</td>
        <td>Deneme</td>
        <td>Deneme</td>


    </tr>
    <tr>
        <td>1</td>
        <td>Enes</td>
        <td>Deneme</td>
        <td>Deneme</td>



    </tr>
</table>

